<!DOCTYPE html>
<html lang="en">
  <head>

  	<meta charset="utf-8">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>

    <title>Tender</title>
  </head>
  <body>
  <% include navbar %>
	<br>
  <div class="container">
    <% include success %>
    <% include errors %>
    <% include infos %>
