<% include ../layouts/header %>
<div class="col-sm-8">
	<div class="card bg-light mb-3">
		<div class="card-header">
			<h4>Vos critères</h4>
		</div>
		<div class="card-body">
			<form id="form" method="POST" action="/criteres/<%= user.id %>" encType="multipart/form-data">
				<div class="form-group">
					<label for="sexe">A la recherche de: </label>
					<select name="sexe" class="form-control">
						<option value="H">Hommes</option>
						<option value="F">Femmes</option>
						<!-- B signifiant Both-->
						<option value="B">Les deux</option>
					</select>
				</div>

				<% console.log(user) %>
				<div class="form-group">
					<label for="minage"> Âge minimum : </label> <input type="number" name="minage" class="form-control" value="<%= user.critere.minage %>">
				</div>


				<div class="form-group">
					<label for="maxage"> Âge maximum : </label> <input type="number" name="maxage" class="form-control value="<%= user.critere.maxage%>">
				</div>
				<div class="form-group">
				<button class="btn btn-primary" type="submit">Valider</button> 
				<button class="btn btn-danger" type="reset">Réinitialiser</button>
				</div>
			</form>
		</div>
	</div>

</div>
<% include ../layouts/footer %>
