<% include ../layouts/header %>

<form method="POST" encType="multipart/form-data">
	<div class="form-group">
		<label for="file">File</label>
		<input class="form-control" type="file" name="kenzy" multiple="multiple">
	</div>
	<div class="form-group">
		<button class="form-control"type="submit">valider</button>
	</div>
</form>

<% include ../layouts/footer %>
